doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='')
    title #{title} | Mnemonik
    != css('styles')
  body
    include partials/navbar

    != js('application')
    != js('lib/jquery.knob')
    <script src="//cdn.ckeditor.com/4.4.1/standard/ckeditor.js"></script>

    .container
      include partials/flash
      block content

    include partials/footer
