extends ../layout

block content
  h1 Mnemotechniques
  p.lead
    | <iframe width="560" height="315" src="//www.youtube.com/embed/T0q67iN4pOc" frameborder="0" allowfullscreen></iframe>
    br
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies magna non leo rutrum imperdiet. Donec eu nunc dignissim, elementum purus eu, pulvinar tellus. Proin vel porta nulla. Pellentesque fermentum tellus eget mauris porta mollis. Nam eget dui nisl. Aliquam sagittis vitae dui venenatis laoreet. Integer et fringilla urna. Donec sit amet feugiat est. Nullam tincidunt rhoncus turpis quis vestibulum. Vestibulum pellentesque varius elit eget auctor. Integer pellentesque nibh ac tincidunt vestibulum. Maecenas congue lorem massa, at aliquam nunc viverra porttitor.
    br